/data
/modeling/YOLO/yolo11n/models
/venv
/.env
/modeling/YOLO/yolo11n/drug-detection-1
/modeling/segment/models
/utils/__pycache__
/modeling/segment/drug-detect-2-1
/modeling/segment/drug-detect-1
/modeling/segment/runs
.env
/modeling/segment/images
/modeling/segment/drug-detect-3-2
/modeling/segment/pill-detect-1
modeling/segment/yolo11n.pt
/app/backend/__pycache__
/app/backend/routers/__pycache__
/app/backend/infra/__pycache__
/app/frontend/__pycache__
/app/frontend/utils/__pycache__
uv.lock
/app/backend/services/__pycache__
/modeling/llm/01_llm_extraction/__pycache__
/app/backend/app/uploaded_images
/app/backend/models/__pycache__
/app/uploaded_images
/app/backend/models/__pycache__
*.pyc
.venv